# Node.js
node_modules

# macOS
.DS_Store

# Terraform
.terraform/
*.tfstate
*.tfstate.*
crash.log
*.tfvars
override.tf
override.tf.json
.terraform.lock.hcl
tfplan
secret.yaml

# Kubernetes / Helm
kubeconfig
*.secret.yaml

# IDE
.idea/
.vscode/

# Build artifacts
dist/
build/

secret-alertmanager.yaml

tfplanoutput.txt