# terraform/terraform.tfvars.sample
# Ganti nilai-nilai ini dengan konfigurasi Anda

prefix_name = "devopsapp"
location    = "Southeast Asia"
tags = {
  environment = "Staging"
  project     = "HelloApp"
  owner       = "DevOpsApp"
}